a {
  text-decoration: none;
}
.button-style {
  border-radius: 5px;
  background-color: #598216;
  border: solid 2px #598216;
  color: #fff;
  text-align: right;
  padding: 0.5rem;
}

.button-style:hover {
  border-radius: 5px;
  background-color: #fff;
  border: solid 2px #598216;
  color: #598216;
  padding: 0.45rem;
}

.button-style:visited {
  border-radius: 5px;
  background-color: #fff;
  border: solid 2px #598216;
  color: #598216 !important;
}

.button-sty {
  display: none;
  border-radius: 5px;
  background-color: #598216;
  border: #598216;
  color: #fff;
  text-align: right;
  text-decoration: underline;
  text-decoration-color: #598216;
  padding: 0.5rem;
}

.button-sty:hover {
  border-radius: 5px;
  background-color: #fff;
  border: solid 1px #598216;
  color: #598216;
  padding: 0.45rem;
  text-decoration-color: #fff;
}

.button-sty:visited {
  border-radius: 5px;
  background-color: #fff;
  border: solid 1px #598216;
  color: #598216 !important;
}

.btn-check:checked + .btn-success,
.btn-check:active + .btn-success,
.btn-success:active,
.btn-success.active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #598216;
  border-color: #598216;
}
.btn-success,
.btn-success:focus {
  color: #fff;
  background-color: #598216;
  border-color: #598216;
  box-shadow: none;
}

.button-light {
  border-radius: 5px;
  background: transparent;
  border: solid 1px #ffffff;
  color: #ffffff;
  text-align: center;
  padding: 0.5rem;
  margin: 1%;
}

.button-light:hover {
  color: #ffffff !important;
  background-color: #598216 !important;
  border: solid 2px #598216;
}
.change {
  display: inline;
  padding: 0% 15px;
}
.change-lan {
  position: relative;
  border-radius: 5px;
  background-color: #598216;
  border: 1px solid #fff;
}
.change-lan img {
  color: #fff;
  width: 80%;
}
.change-lan:hover {
background-color: #729042;
}
@media screen and (max-width: 992px) {
  .but {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
  }
}
@media screen and (max-width: 500px) {
  .button-sty {
    display: block;
  }

  .button-style {
    display: none;
  }

  .button-light {
    display: none;
  }
}
